:root {
  --content-width: 780px;}

html {font-family: "Helvetica"; font-size: 20px; color: white; text-align: center; text-transform: uppercase; background: red;}
body {margin: 0 auto; line-height: normal;}

p {margin: 0 auto; padding-bottom: 1em;}
span.credit {text-align: right;}

h1 {margin:0 auto; text-align: center; font-size: 3em;}
h2 {margin:0 auto; text-align: center; font-size: 2em;}
h3 {margin:0 auto; text-align: center; font-size: 1.2em;}
h4 {margin:0 auto; text-align: center; font-size: 1em;}

ul {list-style: none; padding-left: 0;}
ol {margin:0; list-style-position:inside; padding-left: 0;}

a {color: lime; padding: 2px 4px 2px 4px;}
a:hover {color: white;}

ul.nav {display: flex; flex-wrap: wrap; justify-content: center;}
.nav li {margin-bottom: 16px;}
#header .nav a,
#songs-i-wrote .nav a {margin-right: 10px; font-size: 22px; font-weight: bold; text-decoration: none; background: black; padding: 6px 6px 2px 6px;}
#header .nav a:hover,
#songs-i-wrote .nav a:hover {color: black; background: lime;}

#footer .nav {padding: 0px;}
#footer .nav a {margin-right: 0px; padding: 6px 6px 2px 6px;}
#footer .nav li {margin-bottom: 0px;}

#main {margin:0 auto; padding-top: 20px; padding-bottom: 20px; width: var(--content-width);}

#header {margin: 0 auto; width: auto; padding-top: 5px; margin-bottom: 30px;}
#footer {margin: 0 auto; width: auto; font-size: 16px; border: 2px solid lime; background: black; padding: 20px;}

#songs-i-wrote,
#videos {margin: 0 auto; margin-bottom: 20px;}

#shows, #archive {margin: 0 auto; display: grid; grid-template-columns: 1fr 1fr; margin-bottom: 50px;}
#shows div, #archive div {margin-bottom: 30px;}
#shows .heading, #archive .heading {display: grid; grid-column: 1/-1;}

.quote {
  margin: 0 auto; margin-bottom: 20px; width: auto;
  font-family: "Times"; text-align: justify; text-transform: none;
  border: 2px solid lime; background: black;
  padding: 20px;}

a#logo, img#logo {margin:0 auto; display: block; width: 400px; background: none; padding: none;}
img#portrait {margin:0 auto; display: block; width: 100px; filter: grayscale(100%); padding: 20px 0px 0px 0px;}
img#cover {margin:0 auto; display: block; width: 60%; padding-bottom: 20px;}
img.flyer {margin:0 auto; height: 400px; padding-bottom: 10px;}
iframe {margin-top: 10px; margin-bottom: 40px; width: 100%; aspect-ratio: 16/9;}

/* Songs I Wrote page*/
audio {padding-top: 1em;}
.lyrics {}
#blondes {display: none;}

@media screen and (max-width: 780px) {
  html {width: auto; font-size: 16px; padding: 10px;}
  h1 {font-size: 2.2em;}
  h2 {font-size: 1.6em;}
  h3 {font-size: 1em;}
  #main {width:auto;}
  #header,
  #footer {width: auto;}
  ul.nav {flex-wrap: wrap;}
  #songs-i-wrote,
  #videos,
  #shows,
  #archive {margin: 0 auto; display: grid; grid-template-columns: 1fr; margin-bottom: 20px;}
  img#logo {width: 70%;}
  img#cover {width: 90%;}
  iframe {margin-top: 10px; margin-bottom: 20px;}
}
