:root {
  --content-width: 960px;}

html {font-family: "Verdana"; font-size: 18px; background: pink;}
body {margin:0 auto; text-align: center; line-height: normal;}

p {margin:0 0 20 0;}
.small-text {margin:0; font-size:14px;}

h1 {margin:0; font-size: 64px; padding-bottom: 30px;}
h2 {margin:0; font-size: 42px; color: red; padding-bottom: 10px;}
h3 {margin:0; font-size: 24px; padding-bottom: 10px;}
h4 {margin:0; font-size: 18px;}

ul {list-style: none; padding-left: 0;}
li {padding-bottom: .8em;}
ol {margin:0; list-style-position:inside; padding-left: 0;}

a {color: blue;}
a:hover {color: blue;}

.nav {display: flex; justify-content: center;}
.nav a {margin-left: 2px; margin-right: 2px; background: lime; border: 2px solid blue; text-decoration: none; padding: 10px;}
.nav a:hover {background: yellow;}

.heading {padding: 20px;}
#main {margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; width: var(--content-width);}

#header {margin: 0 auto; width: var(--content-width); padding-top: 5px;}
#footer {margin: 0 auto; width: var(--content-width); background: white; border: 2px solid black; padding-top: 5px; padding-bottom: 5px;}

#songs-i-wrote,
#videos,
#shows,
#archive {margin: 0 auto; padding-top: 40px; padding-bottom: 40px;}
#live-videos {margin: 0 auto; display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px;}

#copyright {padding-top: 10px; padding-bottom: 10px;}

img#logo {width: 400px; padding: 10px;}
img#portrait {width: 800px; padding-top: 10px; padding-bottom: 100px;}
img#cover {width: 60%; padding: 20px;}
iframe {margin-top: 10px; margin-bottom: 40px; width:100%; aspect-ratio: 16/9;}

/* Songs I Wrote page*/
audio {padding-top: 1em;}
.lyrics {}
#blondes {display: none;}

@media screen and (max-width: 980px) {
  h3 {font-size: 24px; padding-bottom: 5px;}
  h4 {font-size: 16px;}

  .heading {padding: 20px;}
  #main {width: 95%;}
  #header {margin: 0 auto; width: 95%; padding-top: 5px;}
  #footer {margin: 0 auto; width: 95%; background: white; border: 2px solid black; padding-top: 5px; padding-bottom: 5px;}
  #live-videos {grid-template-columns: 1fr;}

  iframe {width: 95%;}
}

@media screen and (max-width: 600px) {
  html {font-size: 14px;}
  .small-text {font-size:11px;}
  h1 {font-size: 36px;padding-bottom: 10px;}
  h2 {font-size: 28px;padding-bottom: 10px;}
  h3 {font-size: 20px;padding-bottom: 0px;}
  h4 {font-size: 16px;padding-bottom: 0px;}
  ul.nav {flex-wrap: wrap;}
  .nav li {padding-bottom: 2em;}
  #header {padding-bottom: 20px;}
  #songs-i-wrote,
  #videos,
  #shows,
  #archive {padding-top: 20px; padding-bottom: 20px;}
  img#logo {width: 95%; padding: 10px;}
  img#portrait {width: 95%; padding-top: 10px; padding-bottom: 140px;}
  img#cover {width: 95%; padding: 10px;}
  iframe {margin-top: 10px; margin-bottom: 20px;}
}
